In [312]:
!pip freeze

argon2-cffi==18.3.0
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
colorama==0.4.4
command-not-found==0.3
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distro==1.5.0
distro-info==1.0
entrypoints==0.3
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.18.0
jeepney==0.6.0
Jinja2==2.11.2
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
keyring==22.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
louis==3.16.0
macaroonbakery==1.3.1
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==4.2.0
nbconvert==5.6.1
nbformat==5.1.2
netifaces==0.10.9
notebook==6.2.0
numpy==1.21.2
oauthlib==3.1.0
packaging==20.9
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.9.0
prompt-toolkit==3.0.14
protobuf==3.12.4
psutil==5.8.0
pycairo==1.16.2
pycups==2.0.1
Pygments==2.7.1
PyGObject==3.38.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.4.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.15.5
python-apt===2.2.0-ubuntu0.21.04.1
python-dateutil==2.8.1
python-debian==0.1.39
python-xlib==0.29
pytz==2021.1
pyudev==0.22.0
PyYAML==5.3.1
pyzmq==20.0.0
requests==2.25.1
scikit-learn==0.24.2
scipy==1.7.1
SecretStorage==3.3.1
Send2Trash==1.6.0b1
simplejson==3.17.2
six==1.15.0
ssh-import-id==5.11
systemd-python==234
terminado==0.9.2
testpath==0.4.4
threadpoolctl==2.2.0
tornado==6.1
traitlets==5.0.5
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.2
wadllib==1.3.5
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==2.0.0
xkit==0.0.0
zipp==1.0.0

In [313]:
pip install pandas

Requirement already satisfied: pandas in /home/inaya/.local/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /home/inaya/.local/lib/python3.9/site-packages (from pandas) (1.21.2)
Note: you may need to restart the kernel to use updated packages.

In [314]:
import os
os.getcwd()

'/home/inaya/Downloads'

In [315]:
cd Downloads

[Errno 2] No such file or directory: 'Downloads'
/home/inaya/Downloads

In [316]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [317]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [318]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [319]:
inputs= df.drop('Survived',axis = 'columns')
target = df['Survived']

In [320]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [321]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [322]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [323]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [324]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/inaya/.local/lib/python3.9/site-packages (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/inaya/.local/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.13.3 in /home/inaya/.local/lib/python3.9/site-packages (from scikit-learn) (1.21.2)
Requirement already satisfied: joblib>=0.11 in /home/inaya/.local/lib/python3.9/site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /home/inaya/.local/lib/python3.9/site-packages (from scikit-learn) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [325]:
#from sklearn.preprocessing import LabelEncoder

In [326]:
#le_Pclass = LabelEncoder()
#le_Sex    = LabelEncoder()
#le_Age = LabelEncoder()
#le_Fare = LabelEncoder()

In [327]:
#inputs['Pclass_n'] = le_Pclass.fit_transform(inputs['Pclass'])
#inputs['Sex_n'] = le_Sex.fit_transform(inputs['Sex'])
#inputs['Age_n'] = le_Age.fit_transform(inputs['Age'])
#inputs['Fare_n'] = le_Fare.fit_transform(inputs['Fare'])
#inputs.head()

In [328]:
#inputs_n= inputs.drop(['Pclass', 'Sex', 'Age', 'Fare'], axis = 'columns')
#inputs_n

In [329]:
from sklearn.model_selection import train_test_split

In [330]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target, test_size=0.2)

In [331]:
len(X_train)

712

In [332]:
len(X_test)

179

In [333]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [334]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [335]:
model.score(X_test,y_test)

0.8044692737430168